.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1550px;
    padding: 20px;
    margin: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 345px;
    height: 170px;
    border-radius: 8px;
    padding: 16px;
    margin: 5px;
    background-color: #7c634474;  
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }
  
  .event-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .event-card h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
    color: #333333;
  }
  
  .event-card p {
    font-size: 0.9rem;
    color: #666666;
    margin: 0px;
  }
  
  .event-card p:last-of-type {
    font-weight: bold;
    color: #007bff;
  }
  

  /* TODO: */
  @media (max-width: 768px) {
    
  }
  