/* Home Component Styles */
.home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.weekly-calender {
  font-weight: bold;
}

.weekly-calender ul {
  display: flex;
}

.weekly-calender li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.weekly-calender li.selected {
  background-color: rgba(128, 0, 128, 0.192);  
  box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

@media (max-width: 768px) {
  .announcements {
    width: 90%;
  }

  .events-grid {
    grid-template-columns: 1fr;
  }
}
