/* Home Component Styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-list-container{
  padding: 20px;
}

.weekly-calender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  font-weight: bold;
}

.week-days {
  display: flex;
  flex-direction: row;
}

.week-days li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.weekly-calender button {
  align-items: baseline;
  border-radius: 50px;
}
.weekly-calender li.selected {
  background-color: rgba(128, 0, 128, 0.192);  
  box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

/* TODO:  */
@media (max-width: 768px) {
  
}