form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  width: 350px;
  padding: 20px;
}

label {
  font-weight: bold;
  color: white;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(104, 104, 104, .5);
  border: 1px solid transparent;
  box-sizing: border-box;
}

section {
  margin-top: 5px;
  margin-bottom: 5px;
}
